body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    color: #3d4659;
    margin: 0;
    height: 100vh;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    height: 250px;
    object-fit: contain;
}
