body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    color: #3d4659;
    margin: 0;
    height: 100vh;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        45deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(107, 124, 255, 1) 0%,
        rgba(148, 163, 252, 1) 100%
    );
}

img {
    height: 250px;
    object-fit: contain;
}
