@import "../../styles/themes/_variables";

@keyframes resize {
    0% {
        grid-template-columns: 2.4fr 6fr 2.8fr;
    }

    100% {
        grid-template-columns: 1.7fr 6fr;
    }
}

.home {
    height: 100%;
    background-color: $gray-100;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__bottom {
        width: 100%;
    }

    &__grid {
        display: grid;
        grid-template-columns: 2.4fr 6fr 2.8fr;
        justify-items: start;
        padding: 16px 32px;
        // padding-left: 16px;
        // padding-bottom: 0px;

        &-expanded {
            display: grid;
            justify-items: start;
            padding: 16px 32px;
            grid-template-columns: 1.7fr 6fr;
        }
    }

    &__left {
        width: 100%;
        max-width: 330px;
        // height: calc(100vh - 150px);
        // overflow-y: scroll;
        // scroll-behavior: smooth;
        // padding: 0 14px;
    }

    &__right {
        width: 100%;
        opacity: 100%;
        transition: all 0.5s ease;

        &-expanded {
            opacity: 0%;
            transition: all 0.5s ease;
            height: 0;
            overflow: hidden;
        }
    }

    &__middle {
        // background: black;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    &__expand {
        position: absolute;
        right: 14px;
        top: 0;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        gap: 14px;

        & > .icon {
            background-color: white;
            padding: 11px 8px;
            border-radius: 200px;
            box-shadow: 0 1px 8px rgba(109, 117, 141, 0.1);
            cursor: pointer;
            transition: all 0.1s ease-in;

            &:hover {
                color: white;
                background-color: $text;
            }
        }
    }
}

.home__top {
    display: flex;
    width: 100%;
    background-clip: border-box;
    background-color: $gray-200;
    border-bottom: 1px solid $gray-300;
}

.home__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    background: white;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(109, 117, 141, 0.1);
    margin-bottom: 20px;
    padding: 16px;
    max-width: 330px;
    position: relative;
}

.home__navinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;

    span {
        font-size: 10px;
        color: lighten($text, 10%);
        text-transform: uppercase;
    }
}

.home__navcolor {
    display: block;
    height: 0;
    width: 32px;
    margin: 8px 0;
    border-radius: 20px;
    border-top: 4px solid;
}
